<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style src="/assets/index.css"></style>
</head>
  <body>
    <ul>
      <li>
        2021/4/18 スペシャルサンクス・更新履歴ページの追加。プレイ記録消失バグの解消。
      </li>
      <li>
        2021/4/20 ウィンドウサイズによる表示の不具合の改善。https化。
      </li>
      <li>
        2021/5/7 ウィンドウサイズによる表示の不具合の修正。端の碁石がもうひとつの端とくっつく不具合の修正。くっつきの種類の増加。
      </li>
      <li>
        2021/8/15 コンピュータの強さを設定に追加。
      </li>
      <li>
        2021/9/12 自由碁盤の不具合解消。くっつき表示の調整。
      </li>
      <li>
        2021/9/19 思考モード中にパスするとAIの着手が行われる不具合を解消。棋譜一覧の移動ボタンの不具合を解消
      </li>
      <li>
        2021/10/24 碁石のくっつき表示ON/OFF切り替え機能の追加。結果ツイート機能追加。
      </li>
      <li>
        2021/10/30 スコアバーの修正。ハロウィンモードの追加。
      </li>
      <li>
        2021/12/29 Unity版の設置
      </li>
      <li>
        2021/1/16 棋譜が消える不具合の修正。検討画面にプレイヤー名表示。PIXI版のリンクの色変更
      </li>
      <li>
        2021/2/6 Unity版に攻撃力・防御力のパラメータ追加。陣地表現の改善
      </li>
      <li>
        2021/3/13 Pixi版の高解像度対応、つぶやき画像のトリミング、春モード追加。Unity版に体力表示機能追加、つぶやき機能(ベータ)追加
      </li>
    </ul>
  </body>
</html>
