<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style src="/assets/index.css"></style>
</head>
  <body>
    <ul>
	    <li>
        とろろさん(@tororo2048) <br>
        本サイトのアイデアの一部を(勝手に)拝借しました。実際に作るきっかけとなり、とても感謝しております。<br>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">囲碁入門くらいの人に分かりやすいかもしれない、くっつく碁石さんはどうでしょう？<br><br>・石のつながりが分かりやすい<br>・欠け眼も気づきやすいかも？<br>・大石取るの気持ちよさそう<br>・盤面わりと囲碁っぽくなくて斬新な気が<br><br>前にもらったリプに可能性を感じて、それをヒントに描いてみました笑 <a href="https://t.co/EfL9UMyRHV">pic.twitter.com/EfL9UMyRHV</a></p>&mdash; とろろ (@tororo2048) <a href="https://twitter.com/tororo2048/status/1261962761442955264?ref_src=twsrc%5Etfw">May 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
      <li>
        リリース告知ツイートをリツイート・いいねしてくださった皆様。感想や意見をくださった皆様。<br>
        大きな励みになりました。感謝申し上げます。<br>
        <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">【お知らせ1】<br>自作囲碁ゲーム?をリリースしました。<a href="https://t.co/jy1KIke0QU">https://t.co/jy1KIke0QU</a><br>全体的な使い方は以下の動画に載せました。<a href="https://t.co/WoHb0SA9PZ">https://t.co/WoHb0SA9PZ</a><br>※YouTube版もこの後投稿します。<a href="https://twitter.com/hashtag/%E5%9B%B2%E7%A2%81?src=hash&amp;ref_src=twsrc%5Etfw">#囲碁</a> <a href="https://t.co/vFhEkXO2bN">pic.twitter.com/vFhEkXO2bN</a></p>&mdash; 四流 (@Mr_isoy) <a href="https://twitter.com/Mr_isoy/status/1382332852876943365?ref_src=twsrc%5Etfw">April 14, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
      <li>
        ハロウィン用素材 <a href="https://www.irasutoya.com/">いらすとや様</a><br>
      </li>
      <li>
        Unity版の開発にあたり、UniTaskを利用しています。<a href="https://github.com/Cysharp/UniTask">https://github.com/Cysharp/UniTask</a> (Copyright (c) 2019 Yoshifumi Kawai / Cysharp, Inc.)
      </li>
      <li>
        Unity版の開発にあたり、NativeWebSocketを利用しています。<a href="https://github.com/endel/NativeWebSocket">https://github.com/endel/NativeWebSocket</a>
      </li>
      <li>
        Unity版のフォントにはロゴたいぷゴシック(M+ (LICENSE_J,LICENSE_E))を使用しています。<a href="http://www.fontna.com/blog/1226/">http://www.fontna.com/blog/1226/</a>
      </li>
    </ul>
  </body>
</html>
