<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style src="/assets/index.css"></style>
</head>
  <body>
    <ul>
	<li>
		とろろさん(@tororo2048) <br>
		本サイトのアイデアの一部を(勝手に)拝借しました。実際に作るきっかけとなったのでとても感謝しています。<br>
		<blockquote class="twitter-tweet"><p lang="ja" dir="ltr">囲碁入門くらいの人に分かりやすいかもしれない、くっつく碁石さんはどうでしょう？<br><br>・石のつながりが分かりやすい<br>・欠け眼も気づきやすいかも？<br>・大石取るの気持ちよさそう<br>・盤面わりと囲碁っぽくなくて斬新な気が<br><br>前にもらったリプに可能性を感じて、それをヒントに描いてみました笑 <a href="https://t.co/EfL9UMyRHV">pic.twitter.com/EfL9UMyRHV</a></p>&mdash; とろろ (@tororo2048) <a href="https://twitter.com/tororo2048/status/1261962761442955264?ref_src=twsrc%5Etfw">May 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </ul>
  </body>
</html>
